@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main clr : #ff5e00 */

@layer components {
    .screen-height {
        @apply h-[calc(100vh-80px-32px)];
    }
}

:root {
    --toastify-color-progress-success: '#FFF !important';
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    color: #0c0c0c;
}

* {
    --tw-ring-color: rgb(0 0 0 / 0) !important;
}

.logo-font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cl-internal-180wb59 {
    display: none;
}

.Toastify__toast-container--top-right {
    top: 6em !important;
}

.multi-range-slider {
    padding: 15px 10px !important;
    box-shadow: none !important;
    border: none !important;
}

.multi-range-slider .labels,
.ruler {
    display: none !important;
}

.multi-range-slider .bar-inner {
    background-color: #ff5e00 !important;
    box-shadow: none !important;
}

.multi-range-slider .thumb .caption * {
    background-color: #ff5e00 !important;
    box-shadow: none !important;
}

/* #ff5e00 */


body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar {
    width: 14px;
    border-left: 1px white solid;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff5e00;
}